.game-area {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 1px solid #446399;
}

.container .row {
    box-sizing: border-box;
    height: 100px;
}

.container span {
    display: inline-block;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid #446399;
}

.wall {
    background-color: #4472c4;
}

.diamond {
    background-color: gold;
}

.player {
    background-color: red;
}
